<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.hoodee.springframework.test.bean.UserDao"/>

    <bean id="userService" class="com.hoodee.springframework.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <!--增强配置，有BeanFactoryPostProcessor、BeanPostProcessor，实现类-->
    <bean class="com.hoodee.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="com.hoodee.springframework.test.common.MyBeanFactoryPostProcessor"/>
</beans>